<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="rosbot_gazebo" params="prefix">

    <!-- configure base link -->
    <gazebo reference="${prefix}body">
      <material>Gazebo/Orange</material>
    </gazebo>

    <!-- configure rear wheels -->
    <gazebo reference="${prefix}left_wheel">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${prefix}right_wheel">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <!-- configure caster wheel (use no friction) -->
    <gazebo reference="${prefix}front_wheel">
      <mu1>0</mu1>
      <mu2>0</mu2>
      <material>Gazebo/White</material>
    </gazebo>

    <!-- imu link -->
    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <ros>
            <!-- <namespace>/demo</namespace> -->
            <remapping>~/out:=imu</remapping>
          </ros>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
      <material>Gazebo/Red</material>
    </gazebo>

    <!-- differential drive -->
    <!-- TODO use shared configuration, currently in rosbot_links.urdf.xacro -->
    <!-- http://gazebosim.org/tutorials?tut=ros_gzplugins -->
    <gazebo>
      <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>
        <update_rate>30</update_rate>
        <left_joint>left_wheel_joint</left_joint>
        <right_joint>right_wheel_joint</right_joint>
        <wheel_separation>0.241</wheel_separation>
        <wheel_diameter>0.195</wheel_diameter>
        <max_wheel_torque>50</max_wheel_torque>
        <max_wheel_acceleration>2.0</max_wheel_acceleration>
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
        <odometry_frame>odom</odometry_frame>
        <command_topic>cmd_vel</command_topic>
        <robot_base_frame>base_link</robot_base_frame>
        <!-- <robot_base_frame>base_footprint</robot_base_frame> -->
      </plugin>
    </gazebo>

    <!-- lidar -->
    <gazebo reference="base_laser">
      <sensor name="lidar" type="ray">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>920</samples>
              <resolution>0.391</resolution>
              <min_angle>0.000000</min_angle>
              <max_angle>6.280000</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.120000</min>
            <max>20</max>
            <resolution>0.03</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
          <!-- <plugin name="scan" filename="libgazebo_ros_gpu_laser.so"> -->
          <ros>
            <remapping>~/out:=scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>base_laser</frame_name>
        </plugin>
      </sensor>
      <material>Gazebo/Green</material>
    </gazebo>

    <!-- camera -->
    <gazebo reference="rgb_camera_link">
      <material>Gazebo/White</material>
      <sensor type="camera" name="rgb_camera">
        <update_rate>30.0</update_rate>
        <visualize>true</visualize>
        <camera name="rgb_camera">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="rgb_camera_controller" filename="libgazebo_ros_camera.so">
          <frameName>rgb_camera_link</frameName>
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <baseline>0.2</baseline>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <pointCloudCutoff>0.5</pointCloudCutoff>
          <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>
          <Cy>0</Cy>
        </plugin>
      </sensor>
    </gazebo>

    <!-- depth camera -->
    <!-- <gazebo reference="rgb_camera_link">
      <sensor type="depth" name="depth_camera">
        <update_rate>30.0</update_rate>
        <visualize>true</visualize>
        <camera name="depth_camera">
          <horizontal_fov>1.047198</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>3.0</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="depth_camera_controller" filename="libgazebo_ros_camera.so">
          <frameName>depth_camera_link</frameName>
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <baseline>0.2</baseline>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <pointCloudCutoff>0.5</pointCloudCutoff>
          <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>
          <Cy>0</Cy>
        </plugin>
      </sensor>
    </gazebo> -->

  </xacro:macro>

</robot>
